@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{      

    if (CurrentPage.HasValue("pictures")){                                         

        var dynamicMediaFolder = Umbraco.Media(CurrentPage.pictures);

         <ul>

            @foreach (var picture in dynamicMediaFolder.Children)

            {

                <li>

                    <a href="@picture.Url">

                        <img src="@picture.umbracoFile" alt="@picture.Name" />

                    </a>

                </li>

            }

        </ul>

    }

}